@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class='mainText'>
        <h1 class="text-capitalize mainTitle">Welcome to .NET Pizzas 😋</h1>
        <h4 class='text-capitalize mainSubtitle'>NET Pizzas are juicy pizzas 🍕</h4>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" alt="pizza guy" />
    <br/>
    <a class="btn btn-primary mt-3 text-capitalize px-4" asp-area="" asp-page="/Checkout/ThankYou">Bring me that pizza 😋 🍕</a>
</div>
